.dark {
    background-color: black;
    color: white;
}

.dark-icon {
    color: white;
}

.center {
    text-align: center;
    color: #c3c3c3;
}

.slider{
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

canvas {
    border: 1px solid #c3c3c3;
}

a {
    color: black;
}
